@using PROG7311_POE_PART_2.ViewModel;
@model UserDetailsAndRoleViewModel
@{
    Layout = "~/Views/Shared/_Layout_NoNav.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/TextBoxStyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/LoginStyleSheet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #video-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1; /* Set a higher z-index than the navbar */
        }

        #myVideo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
        }

        .color-block-login {
            width: 400px;
            height: auto;
            background-color: white;
            border-radius: 10px;
            box-shadow: 5px 5px 8px 8px rgba(0, 0, 0, 0.3);
            text-align: center;
            z-index: 200;
            padding: 20px;
        }

        .heading {
            font-size: 28px;
            color: white;
        }

        /* Flexbox centering */
        .vertical-center {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* 100% of the viewport height */
        }
    </style>
</head>

<form asp-action="LoginView" method="post">
    <body style="background-color:white">
        <div id="video-container">
            <video autoplay muted loop id="myVideo">
                <source src="~/videos/other-background-video.mp4" type="video/mp4">
            </video>
        </div>

        <div class="vertical-center">
            <div class="color-block-login">
                <div class="heading text-center mb-4">
                    Login
                </div>

                <div class="form-group">
                    <label for="usernameInput">Username</label>
                    <input asp-for="UserDetails.Usernames" class="form-control block-input" type="text" placeholder="Eg FriedEgg123" id="usernameInput" />
                </div>

                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input asp-for="UserDetails.Passwords" class="form-control block-input" type="password" id="passwordInput" placeholder="Eg Egg123#" />
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>

                <div class="form-group">
                    <a asp-controller="Login" asp-action="RegisterView" class="btn btn-link btn-block">Create an Account</a>
                </div>
            </div>
        </div>
    </body>
</form>